<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Edit {{daycare.name}}
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Daycare</h4>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="name"> Name:</label>
            {{input value=name id='name' placeholder= daycare.name}}
          </div>
          <div class="form-group">
            <label for="address"> Address:</label>
            {{input value=address id='address' placeholder= daycare.address}}
          </div>
          <div class="form-group">
            <label for="email"> Email:</label>
            {{input value=email id='email' placeholder= daycare.email}}
          </div>
          <div class="form-group">
            <label for="phone"> Phone:</label>
            {{input value=phone id='phone' placeholder= daycare.phone}}
          </div>
          <div class="form-group">
            <label for="waitlist"> Waitlist:</label>
            {{input value=waitlist id='waitlist' placeholder= daycare.waitlist}}
          </div>
          <div class="form-group">
            <label for="ratio"> Caregiver-to-Child Ratio:</label>
            {{input value=ratio id='ratio' placeholder= daycare.ratio}}
          </div>
          <div class="form-group">
            <label for="certifications">Certifications:</label>
            {{textarea  value=certifications id='certifications' placeholder= daycare.certifications}}
          </div>
          <div class="form-group">
            <label for="hours">Hours:</label>
            {{input value=hours id='hours' placeholder= daycare.hours}}
          </div>
          <div class="form-group">
            <label for="mission">Mission:</label>
            {{textarea  value=mission id='mission' placeholder= daycare.mission}}
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            {{textarea value=description id='description' placeholder= daycare.description}}
          </div>
          <div class="form-group">
            <label for="image2">Image 1:</label>
            {{input value=image1 id='image1' placeholder= daycare.image1}}
          </div>
          <div class="form-group">
            <label for="image2">Image 2:</label>
            {{input value=image2 id='image2' placeholder= daycare.image2}}
          </div>
          <div class="form-group">
            <label for="image3">Image 3:</label>
            {{input value=image3 id='image3' placeholder= daycare.image3}}
          </div>
          <div class="form-group">
            <label for="image4">Image 4:</label>
            {{input value=image4 id='image4' placeholder= daycare.image4}}
          </div>
          <div class="form-group">
            <label for="image5">Image 5:</label>
            {{input value=image5 id='image5' placeholder= daycare.image5}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" {{action 'saveChanges' daycare}} data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{yield}}
