
<center><h1>{{model.name}}</h1></center>

{{daycare-carousel daycare=model}}

<center><h2><i>"{{model.mission}}"</i></h2></center>

<div class="container">
  <div class="row">
    <div class="daycare-description">
      {{model.description}}
    </div>
  </div>
</div>
<hr>

    <div class="daycare-info">
      <div class="col-xs-6">
        <h4>Contact Information:</h4>
        <li><i class="fa fa-home">: {{model.address}}</i></li>
        <li><i class="fa fa-envelope">: {{model.email}}</i></li>
        <li><i class="fa fa-phone">: {{model.phone}}</i></li>
        <li><i class="fa fa-calendar">: {{model.hours}}</i></li>
      </div>
  </div>

    <div class="daycare-info">
      <div class="col-xs-6">
        <h4>Caregiver-to-Child Ratio:</h4>
          <p>{{model.ratio}}</p>
        <h4>Certifications</h4>
        <p>{{model.certifications}}</p>

      </div>
  </div>



{{#if (eq session.uid model.user.id)}}
  {{edit-modal daycare=model saveChanges='saveChanges'}}
{{else}}

{{/if}}
{{outlet}}
